<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{$data.name}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/res/css/main.css" rel="stylesheet" type="text/css" />


</head>

<body>

<div class="layout_index">

    <div class="buy_box p_m_tb"><button class="btn btn_buy" id="show">我要买</button></div>

    <!-弹出->
    <div class="buy_box p_l_tb" id="buy_detail" style="display:none">

        <div class="pop_close"><a class="i_close" id="hide"><span class="a"></span><span class="b"></span></a></div>

        <div id="tab">
            <ul class="list">
                <li class="col-m-3 col-s-3"><img src="/uploadfiles/products/{{$data.bg_pic}}" class="goods_pic" /></li>
                <li class="col-m-8 col-s-8">
                    <p class="overflow_h">{{$data.name}}</p><p class="c_orange">￥<span id="price">{{$data.price}}</span></p>
                </li>
            </ul>

            <ul class="list">
                <li class="col-m-3 col-s-3">购买数量</li>
                <li class="col-m-9 col-s-9 goods_num">
                    <button class="reduce off" id="min">-</button>
                    <input class="value on" id="text_box" type="text" value="1" readonly>
                    <button class="plus on" id="add">+</button>
                </li>
            </ul>

        </div>

        <div class="prize_tips line p_m_b m_m_b p_lr"><span>奖</span>将宝贝推荐给好友，好友每购买一次，您可获得33元红包哦！您可到”会员中心”查看并提现~</div>
        <button class="btn btn_buy" onclick="javascript:next();">下一步</button>

    </div>


    <div class="pd_box">
        {{$data.desc}}
    </div>
</div>
<a class="btn_all" href="{{site_url url='product/my_order'}}"><span>全部订单</span></a>
</body>
<script src="/res/js/jquery-1.11.0.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#hide").click(function(){
            $("#buy_detail").hide();
        });
        $("#show").click(function(){
            $("#buy_detail").show();
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        $("#add").click(function(){
            $("#text_box").val(parseInt($("#text_box").val())+1)
            $("#min").addClass('on').removeClass('off');
        })
        $("#min").click(function(){
            if($("#text_box").val() == 2){
                $("#min").addClass('off').removeClass('on');
            }
            if($("#text_box").val() > 1){
                $("#text_box").val(parseInt($("#text_box").val())-1)
            }
        })
    })
</script>
<script>
    function next(){
        pid = "{{$data.id}}";
        pd_id = "{{$data.pd_id}}";
        qty = $("#text_box").val();
        url = "{{site_url url='product/buy_pro'}}/"+pid+'/'+pd_id+'/'+qty;
        window.location.href = url;
    }

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{$wxappId}}', // 必填，公众号的唯一标识
        timestamp:{{$wxtimestamp}}, // 必填，生成签名的时间戳
        nonceStr: '{{$wxnonceStr}}', // 必填，生成签名的随机串
        signature: '{{$wxsignature}}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
            ]
        });

        //分享朋友圈
        wx.onMenuShareTimeline({
            title: '{{$data.name}}', // 分享标题
            link: 'http://shop.7drlb.com/product/index/26?userID={{$userID}}', // 分享链接
            imgUrl: 'http://shop.7drlb.com/uploadfiles/products/{{$data.bg_pic}}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },

            cancel: function () {
                // 用户取消分享后执行的回调函数
            }

        });

        //发送朋友
        wx.onMenuShareAppMessage({
            title: '{{$data.name}}', // 分享标题
            desc: '{{$data.name}}', // 分享描述
            link: 'http://shop.7drlb.com/product/index/26?userID={{$userID}}', // 分享链接
            imgUrl: 'http://shop.7drlb.com/uploadfiles/products/{{$data.bg_pic}}', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },

            cancel: function () {
                // 用户取消分享后执行的回调函数
            }

        });


    });
    wx.error(function (res) {
        alert('wx.error: '+JSON.stringify(res));
    });


</script>
</html>