<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二维码关注</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/res/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="layout">

    <h4 class="t_center p_l_tb">请关注“摩瑞尔电商平台”公众帐号<br/>参加活动哦~</h4>
    <ul class="code_list">
        <li>
            <p>二维码关注<span>（长按图片读取二维码）</span></p>
            <img src="images/p_small.jpg"/>
        </li>
        <li>
            <p>搜索关注</p>
            <span>新增好友→<br/>官方帐号→<br/>搜索“摩瑞尔电商平台”</span>
        </li>
    </ul>

</div>

</body>
</html>